
<%- if @snippets_enabled -%>
  <div id="snippets_container">
  	<h1 class="Saving Snippet" class="loading" id="saving_snippet" style="display:none">Saving Snippet...</h1>
  	<div id="snippets" style="display:none">
  		<h1 class="loading">Loading Snippets</h1>
  	</div>
  </div>
<%- end -%>

<div id="kawaii_content" authenticity_token="<%= form_authenticity_token %>">
	<div id="new_tab"><%= button_to_function 'New Tab', 'Kawaii.add_tab()'%></div>	
	<div id="tab_container">
		<div id="console_tabs" class="yui-navset"></div>
	</div>
	
	<%- if @kawaii_authentication -%>
	  <p><%= link_to 'Logout from Kawaii', :kawaii => {:password => nil}%></p>
	<%- end -%>
</div>